<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>quoi</key>
	<string>what|C&apos;est quoi?</string>
	<key>comment</key>
	<string>how|Comment ça va?</string>
	<key>quand</key>
	<string>when|Il part quand?</string>
	<key>où</key>
	<string>where|Où est l&apos;eglize?</string>
	<key>laquelle</key>
	<string>which one~feminine~singluar|Je veux la pomme. Laquelle?</string>
	<key>lequel</key>
	<string>which one~masculine~singular|Lequel veux-tu?</string>
	<key>pourquoi</key>
	<string>why|Pourquoi pas moi?|Why not me?</string>
	<key>quel</key>
	<string>which~masculine~singular|Quel livre as-tu acheté?</string>
	<key>quelle</key>
	<string>which~feminine|Quelles chaussures?</string>
	<key>combien</key>
	<string>how many|Vous êtes combien?</string>
</dict>
</plist>
