<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>se coucher</key>
	<string>to go to bed|je me couche~tu te couches~il se couche~elle se couche~nous nous couchont~vous vous couchez~ils se couchent~elles se couchent</string>
</dict>
</plist>
